<!-- <p *ngIf="mostrar ; else mainBlock">Contenido del párrafo</p>

<ng-template #mainBlock>
  <p>contenido del primer parrafo</p>
</ng-template>


<ng-template #secondaryBlock>
  <p>contenido del segundo párrafo</p>
</ng-template>



<button (click)="ocultarParrafo()">{{textoBoton}}</button>















<app-semaforo></app-semaforo>

<p [ngStyle]="colorStyle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, distinctio. </p>
<button (click)="cambiarColor('o')">Naranja</button>
<button (click)="cambiarColor('r')">rojo</button>
<button (click)="cambiarColor('b')">blue</button>

<div>
  <input type="text" [(ngModel)]="colorStyle.color">
</div>

<div>x
  <input type="range" min="12" max="50" step="2" (change)="onChange($event)">
</div> -->

<app-bucles></app-bucles>