.semaforo{
    width: 300px;
    height: 300px;
    background-color: rgb(180, 101, 101);
}

.redondo{
    border-radius: 50%;
}

.red{
    background-color: red;
}

.naranja{
    background-color: orange;
}


.green{
    background-color: green;
}